.cvListItemLeft {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem;
}

.cvListItemRight {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 4rem;
}

.cvListInner {
    position: relative;
    display: flex;
    flex-direction: column;
}

.canvas{
    position: absolute;
    z-index: -100;
}
