.cvListItemLeft {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem;
    opacity: 0;
    transition: opacity 2.5s ease ;
}


.cvListItemRight {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 4rem;
    opacity: 0;
    transition: opacity 2.5s ease ;
}

.cvListInner {
    position: relative;
    display: flex;
    flex-direction: column;
}

.canvas{
    position: absolute;
    z-index: -100;
}
