.global-background {
    position: fixed;
    inset: 0;
    z-index: -100;
    background: linear-gradient(135deg, #000000, #1a1919, #333333, #4d4d4d);
    background-size: cover;
    background-attachment: fixed;
}

.toc-welcome {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-content: center;
    align-self: center;
}

#technologies{
    margin-top: 15vh ;
    position: relative;
    background: linear-gradient(135deg, #111111, #2a2929, #444444, #5e5e5e);
}