.socialsList {
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    background-color: rgba(20, 20, 20, 0.5);
    padding: 20px;
    border-radius: 12px;
}

.text {
    max-width: 700px;
    font-family: 'Ubuntu', sans-serif;
    color: #dcdcdc;

}