.tableOfContent {
    display: inline-block;
    border-radius: 2px;
    padding: 0 0.5rem;
    line-height: 1;
    height: auto;
    background: darkgrey;

}

.tocWrapper {
    position: sticky;
    grid-column: 1;
    display: flex;
    align-self: start;
    margin-top: 5rem;
    top: 0;
}

#textToc:hover {
    color: gray;
}


.tocItem {
    margin-top: 0.4rem;
    max-width: 5.5%;
}

