---
import Welcome from '../components/Welcome.astro';
import "../styles/page.css"
import Socials from "../components/Socials.astro"
import Navbar  from '../components/Navbar.astro';
import {client} from "../lib/sanity";
import TableOfContent from '../components/TableOfContent.astro';

const welcomeData = await client.fetch(`*[_type == "welcome"][0]{
	headline,
	subHeadline,
	image
}`);

const socialsData = await client.fetch(`*[_type == "socialList"][0]{
  socials[]{
    socialLink,
    socialIcon
  }
}`)

const navbarData = await client.fetch(`*[_type == "navbar"][0]{
	navbarHeadline,
	navbarItems[]{
		itemText,
		itemLink
	}
}`)

const tableOfContentData = await client.fetch(`*[_type == "tableOfContent"][0]{
	headline,
	contents[]{
		linkText,
		sectionId
	}
}`)


---
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	</head>
	<body>
		<div class="global-background"></div>
		<main>
			<slot>
				<Navbar {...navbarData}/>
				<div class="toc-welcome">
					<TableOfContent {...tableOfContentData}/>
					<Welcome {...welcomeData}/>
				</div>
				<Socials {...socialsData}/>
			</slot>
		</main>
	</body>
</html>



