---
import {CvItem, CvList} from "../../Backend/schemaTypes/CVList";
import '../styles/CVList.css'
const cvListProps : CvList = Astro.props;

---

<section class="cvListWrapper">
    <div class="cvListInner">
    {cvListProps.cvItemList.map((item: CvItem, index : number) => {
        const direction = (index % 2 === 0)  ? 'Left' : 'Right';
        return(
            <canvas id="canvas" class="canvas"></canvas>
            <div class={`cvListItem${direction}`}>
                <h2 class="text">{item.headline}</h2>
                <h3 class="text">{item.date}</h3>
                <p class="text">{item.text}</p>
            </div>
        )
    })}
    </div>
</section>


<script>

    document.addEventListener('DOMContentLoaded', () => {
        const cvItems = document.querySelectorAll('.cvListItemLeft, .cvListItemRight');
        const numberCVListItems = cvItems.length;
        const canvas = document.getElementById('canvas') as HTMLCanvasElement;
        const ctx = canvas.getContext("2d");
        canvas.width = screen.width;
        canvas.height = screen.height;
        if(!ctx) return;

        ctx.strokeStyle = 'white';
        ctx.lineWidth = 4;
        let minHeight = canvas.height/numberCVListItems
        let currentHeight = minHeight;
        drawLine(minHeight);
        toggleItemVisibility(currentHeight);


        function drawLine(newHeight: number) {
            ctx?.clearRect(0, 0, canvas.width, canvas.height);
            ctx?.beginPath();
            ctx?.moveTo(screen.width/2, 0);
            ctx?.lineTo(screen.width/2, newHeight);
            ctx?.stroke();
        }

        function toggleItemVisibility(currentHeight: number) {
            for(let i = 0; i < numberCVListItems; i++){
                if(currentHeight <= ((i+1)*canvas.height/numberCVListItems)+100
                    && currentHeight > ((i+1)*canvas.height/numberCVListItems)-100){
                    cvItems[i].style.opacity = '1';
                }
            }
        }


        window.addEventListener('wheel', (e) => {
            let newHeight = currentHeight + e.deltaY;
            if(newHeight < minHeight){
                newHeight = minHeight;
            }else if(newHeight > canvas.height){
                newHeight = canvas.height;
            }
            currentHeight = newHeight;
            drawLine(newHeight);
            toggleItemVisibility(currentHeight);
        });

    });

</script>



