---
import {urlFor} from "../lib/sanity";
import "../styles/ImagePanel.css"

type imagePanelItem = {
    imagePanelItemIcon: string,
}

type imagePanel = {
    directionToggler,
    imagePanelItems: imagePanelItem[]
}

const {
    directionToggler,
    imagePanelItems = []
} = Astro.props

---

<section class="imagePanel">
    <div class={`inner--${directionToggler}`}>
        {[...Array(4)].map(() => (
            imagePanelItems.map((item : imagePanelItem) => (
                    <div class="imagePanelItem">
                        <figure>
                            <img class="imagePanelImage" src={urlFor(item.imagePanelItemIcon)} alt="" />
                        </figure>
                    </div>
            ))
        ))}
    </div>
</section>