---
import {urlFor} from '../lib/sanity.ts'
import '../styles/Welcome.css'
const {
	headline,
	subHeadline,
	image = "image-justADefaultValue-2000x3000-jpg"
}=Astro.props
---


<section class="welcome">
	<div class ="headlines">
		<h1 class="text">{headline}</h1>
		<a class="text">{subHeadline}</a>
	</div>
	<figure class="portrait">
		<img src={urlFor(image)} alt="welcomeImage" class="image"/>
	</figure>
</section>


